---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: params
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"access_token","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Mon, 22 Jun 2020 13:11:45 GMT
- request:
    method: post
    uri: https://www.googleapis.com/androidpublisher/v3/applications/fake_package_name/purchases/subscriptions/fake_subscription_id/tokens/fake_token:acknowledge
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer some_token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "The purchase is not in a valid state to perform the desired operation.",
            "errors": [
              {
                "message": "The purchase is not in a valid state to perform the desired operation.",
                "domain": "androidpublisher",
                "reason": "invalidPurchaseState",
                "location": "token",
                "locationType": "parameter"
              }
            ]
          }
        }
  recorded_at: Mon, 22 Jun 2020 13:11:46 GMT
recorded_with: VCR 6.0.0
