---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: params
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "some token",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Fri, 04 Oct 2019 13:11:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/androidpublisher/v3/applications/my_package_name/purchases/products/my_product_id/tokens/my_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer some_token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "androidpublisher",
            "reason": "permissionDenied",
            "message": "The current user has insufficient permissions to perform the requested operation."
           }
          ],
          "code": 401,
          "message": "The current user has insufficient permissions to perform the requested operation."
         }
        }
  recorded_at: Fri, 04 Oct 2019 13:11:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/androidpublisher/v3/applications/my_package_name/purchases/products/my_product_id/tokens/my_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer some_token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error=invalid_token
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: {}
  recorded_at: Fri, 04 Oct 2019 13:11:24 GMT
recorded_with: VCR 5.0.0
