---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: params
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "some token",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Fri, 04 Oct 2019 09:25:53 GMT
- request:
    method: get
    uri: https://www.googleapis.com/androidpublisher/v3/applications/my_package_name/purchases/products/my_product_id/tokens/my_token
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer some_bearer_token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '""'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "androidpublisher#productPurchase",
         "purchaseTimeMillis": "123456789",
         "purchaseState": 0,
         "consumptionState": 0,
         "developerPayload": "",
         "orderId": "123",
         "acknowledgementState": 1
        }
  recorded_at: Fri, 04 Oct 2019 09:25:54 GMT
recorded_with: VCR 5.0.0
